@media (min-width: 1200px) {
body {
    background-color: black;
    color : white;
}

.two {
  display: flex;
  flex-wrap: wrap;
}

.all {
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    margin: 150px ;
    align-items: stretch;

}

.tourney-title {
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 80px; 
    margin-top: 100px; 
  }

  .tourney-txt {
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-left: 15px; 
    font-variation-settings:"wdth" 100;
    font-size: 30px; 
  }

  .tourney-subtitle {
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 80px; 
  }

.right{
  margin : 30px;
  display: flex;
  flex-direction: column;

}

.left {
  margin : 0px 100px;
  position: sticky;
  top: 0px;
}

.unproj{
  border : 1px solid white;
  margin : 20px; 
  border-radius: 30px; 
  padding: 30px; 
  margin: 30px;
  font-size: 20px;
}

.menu {
  display: flex;
  margin-top : 50px;
  flex-direction: row;
  align-items: center;
}


.button {
  border : solid 1px;
  border-radius: 10px;
  margin: 15px;
  padding: 10px 30px 10px 30px;
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 30px; 
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content : center;
  align-items: center;
  border : solid 1px;
  border-radius: 10px;
  margin: 15px;
  padding: 10px 30px 10px 30px;
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 30px; 
}

a {
  text-decoration: none;
  color: white;
}
}

@media screen and (max-width: 1300px) {
  body {
      background-color: black;
      color : white;
  }
  
  .two {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px; 
  }
  
  .all {
      border: 1px solid white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      margin : 0px;
      padding: 0px; 
  
  }
  
  .tourney-title {
      font-family: "Tourney", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
      font-variation-settings:"wdth" 100;
      font-size: 80px; 
    }
  
    .tourney-txt {
      font-family: "Tourney", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      margin-left: 15px; 
      font-variation-settings:"wdth" 100;
      font-size: 30px; 
    }
  
    .tourney-subtitle {
      font-family: "Tourney", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
      font-variation-settings:"wdth" 100;
      font-size: 80px; 
    }
  
  .right{
    margin : 30px;
    display: flex;
    flex-direction: column;
  
  }
  
  .unproj{
    border : 1px solid white;
    margin : 20px; 
    border-radius: 30px; 
    padding: 30px; 
    margin: 30px;
    font-size: 20px;
  }
  
  .menu {
    display: flex;
    margin-top : 50px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  .button {
    border : solid 1px;
    border-radius: 10px;
    margin: 15px;
    padding: 10px 30px 10px 30px;
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 30px; 
  }
  
  .contact{
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
    border : solid 1px;
    border-radius: 10px;
    margin: 15px;
    padding: 10px 10px;
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 30px; 
  }

  .left {
    position : sticky;
    top: 0px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px; 
  }
  
  .titre {
    display: flex;
    flex-direction: column;
  }

  .a {
    display: flex;
    flex-direction: column;
    justify-content : space-evenly;
  }
  a {
    text-decoration: none;
    color: white;
  }
  }